<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/10a76cad-f9c5-48b4-9844-970348015390/resourceGroups/projectTwo/providers/Microsoft.Web/sites/PetAdoptionP2</ResourceId>
    <ResourceGroup>projectTwo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://petadoptionp2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d69c689f-2e32-41c5-90f2-75217155b1e8</ProjectGuid>
    <PublishUrl>https://petadoptionp2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$PetAdoptionP2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>